
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    margin: auto;
    background: #000;
    width: 80vw;
    height: 500px;
   overflow: hidden;


    background-size: cover;
    background-position: center;
}

p {
    
    line-height: 14px;
    background: url(https://images.pexels.com/photos/594421/pexels-photo-594421.jpeg?auto=compress&cs=tinysrgb&w=600);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;



}
.no{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 13vw;
    /* float: right; */
    top:300px
}
nav{
    text-align: center;
    height: 40px;
}
nav a{

    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}
